<!doctype html>
<head>
  <title>Instagram Proxy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Something goes wrong</h1>

  {{ error }}
</li>
