<!doctype html>
<head>
  <title>Instagram Proxy</title>
</head>
<body>
  <h1>Instagram Proxy</h1>

  {% if is_authenticated %}
    <a href="{{ url_for('logout') }}">Выйти</a>

    <a href="{{ url_for('index', min_id=max_id) }}">Свежее</a>

    {% for post in posts %}
        <h2>{{ post.title }}</h2>

        <p>
            <img src="{{ post.images.standard_resolution.url }}" width="{{ post.images.standard_resolution.width }}" height="{{ post.images.standard_resolution.height }}" alt={{ post.title }} />
        </p>
        
        {% if not loop.last %}
            <hr />
        {% endif %}
    {% endfor %}


    <a href="{{ url_for('index', max_id=min_id) }}">Ранее</a>
  {% else %}
    <a href="{{ url_for('login') }}">Войти с помощью Instagram</a>
  {% endif %}
</li>
